<ion-view view-title="Dicas Bancárias ">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item">
            <div ui-sref="app.dica" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/bank.svg');"></span>
                    <strong>Não Pagar Tarifas?</strong>
                    <div class="card-footer text-right">
                        <i class="icon ion-android-share-alt positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            Por <i class="icon ion-android-person"></i> Gustavo Silva

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item card-item">
            <div ui-sref="app.dica" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/bank.svg');"></span>
                    <strong>Não Pagar Tarifas?</strong>
                    <div class="card-footer text-right">
                        <i class="icon ion-android-share-alt positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            Por <i class="icon ion-android-person"></i> Gustavo Silva

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item card-item">
            <div ui-sref="app.dica" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/bank.svg');"></span>
                    <strong>Não Pagar Tarifas?</strong>
                    <div class="card-footer text-right">
                        <i class="icon ion-android-share-alt positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            Por <i class="icon ion-android-person"></i> Gustavo Silva

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item card-item">
            <div ui-sref="app.dica" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/bank.svg');"></span>
                    <strong>Não Pagar Tarifas?</strong>
                    <div class="card-footer text-right">
                        <i class="icon ion-android-share-alt positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            Por <i class="icon ion-android-person"></i> Gustavo Silva

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item card-item">
            <div ui-sref="app.dica" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/bank.svg');"></span>
                    <strong>Não Pagar Tarifas?</strong>
                    <div class="card-footer text-right">
                        <i class="icon ion-android-share-alt positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            Por <i class="icon ion-android-person"></i> Gustavo Silva

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item card-item">
            <div ui-sref="app.dica" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/bank.svg');"></span>
                    <strong>Não Pagar Tarifas?</strong>
                    <div class="card-footer text-right">
                        <i class="icon ion-android-share-alt positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            Por <i class="icon ion-android-person"></i> Gustavo Silva

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item card-item">
            <div ui-sref="app.dica" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/bank.svg');"></span>
                    <strong>Não Pagar Tarifas?</strong>
                    <div class="card-footer text-right">
                        <i class="icon ion-android-share-alt positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            Por <i class="icon ion-android-person"></i> Gustavo Silva

                        </div>
                    </div>
                </div>
            </div>
        </div>




    </ion-content>
</ion-view>
