<ion-view view-title="Dicas Bancárias ">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">


        <div class="item card-item" ng-repeat="dica in dados | filter:{tipoDica: 1}">
            <div ui-sref="app.dica" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/bank.svg');"></span>
                    <strong>{{dica.tituloDica}} - {{dica.updatedTime}}</strong>
                    <div class="card-footer text-right">
                        <i class="icon ion-android-share-alt positive"></i> {{dica.compartilhou}}
                        <i class="icon ion-heart positive"></i> {{dica.curtiu }}
                        <div class="pull-left">
                            Por <i class="icon ion-android-person"></i> {{dica.autorDica }}

                        </div>
                    </div>
                </div>
            </div>
        </div>






    </ion-content>
</ion-view>
