<ion-view view-title="Dicas XYZ ">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">

        <div class="item card-item">
            <div ui-sref="" class="card stable-bg ink ink-dark">
                <div class="item item-text-wrap">
                    <span class="avatar" style="background-image: url('img/bank.svg');"></span>
                    <br><br><br><br>
                    <p  style="font-size: 20px"><strong>Não Pagar Tarifas?</strong></p>

                    <div class="card-footer text-center">
                        <i class="icon ion-android-share-alt positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            <i class="icon ion-android-person"></i> Gustavo Silva
                        </div>
                        <br><br>
                        <div class="text-left">
                        <i class="icon ion-ios-arrow-forward positive"></i>
                            Foi reavaliando as próprias necessidades que o professor universitário Marcel da Silva Melo trocou o tipo de sua conta corrente para uma conta eletrônica com pacote digital, que tem a movimentação isenta de qualquer tarifa, desde que todas as transações sejam realizadas por meios eletrônicos. Além de não pagar taxa de manutenção de conta, ele passou a economizar mensalmente, pelo menos, R$ 60 em taxas que gastava em TED (Transferência Eletrônica Disponível) e DOC (Documento de Ordem de Crédito). “Comecei a investir no Tesouro Direto e, por isso, preciso fazer TED e DOC com frequência, uma média de cinco por mês. Em cada uma dessas operações, cheguei a pagar R$ 12”, afirmou.
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
