<ion-view view-title="$uper Dicas" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <br><br><br><br>
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon animated bounceInDown"></div>
                <h1 class="animated bounceInLeft">Dica$ de </h1>
                <h1 class="animated bounceInRight">Economia</h1>
            </div>
        </div>

        <div class="padding">
            <button ui-sref="app.profile" class="button button-full button-assertive ink animated infinite pulse">Inicio</button>
        </div>



    </ion-content>
</ion-view>
