<ion-view view-title="$uper Dicas" >
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/login.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/crown.png');"></div>
                <h3><a class="light">Melhores Dica$</a></h3>
                <h4><p>"$eu dinheiro vale muito mai$!"</p></h4>
            </div>
        </div>
        <div class="light tabs tabs-icon-top static" style="height: 100px; background-color: #0a9ec7; padding-top: 15px;">
            <a ui-sref="app.activity" class="tab-item" style="font-size: 12px;">
                <div class="app-icon-bank"></div> Bancarias
            </a>
            <a ui-sref="app.dicasSuper" class="tab-item" style="font-size: 12px;">
                <div class="app-icon-super"></div> Supermecado
            </a>
            <a ui-sref="app.dicasOnline" class="tab-item" style="font-size: 12px;">
                <div class="app-icon-online"></div> On-Line
            </a>
        </div>
        <h4 class="content padding double-padding-x">Melhores dicas do Momento</h4>
        <div class="list animate-fade-slide-in-right">
            <a ui-sref="app.dica" class="item item-avatar item-icon-right" ng-repeat="dica in dados | limitTo:3 |orderBy:random" >
                <img class ="avatar" src="img/bank.svg" ng-show="dica.tipoDica == 1">
                <img class ="avatar" src="img/super.svg" ng-show="dica.tipoDica == 2">
                <img class ="avatar" src="img/online.svg" ng-show="dica.tipoDica == 3">
                <h2><strong> {{dica.tituloDica}}</strong></h2>
                <p>{{dica.descricao }}</p>
                <i class="icon ion-plus-circled muted"></i>
            </a>

        </div>
    </ion-content>
</ion-view>
